@import "../../index.scss";

$clue-color: #0000ff;
$font-color: #ffffff;
$border-color: #111111;

$ratio: 16 / 9;
$cell-height: #{"min((100vh - 5rem) / 6, (100vw - 2rem) / 6 / #{$ratio})"};
$cell-width: calc(#{$cell-height} * #{$ratio});

// -----
// Board
// -----
.board {
	background: #ffffff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 1rem;

	table {
		table-layout: fixed;
		background: #333333;
		margin-left: auto;
		margin-right: auto;
	}

	th,
	td {
		color: $font-color;
		text-align: center;
		vertical-align: middle;
		height: $cell-height;
		width: $cell-width;
		background: $clue-color;
		user-select: none;

		@include media-breakpoint-down(sm) {
			border: 0.2rem solid $border-color;
		}

		@include media-breakpoint-only(md) {
			border: 0.35rem solid $border-color;
		}
		@include media-breakpoint-up(lg) {
			border: 0.5rem solid $border-color;
		}
	}

	th > div {
		font-size: calc(#{$cell-height} * 0.2);
		font-weight: normal;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	td {
		font-size: calc(#{$cell-height} * 0.35);
	}
}

// --------
// Lightbox
// --------
.lightbox {
	position: fixed;
	left: 0px;
	top: 56px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	div {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 60%;
		max-height: 80%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border-radius: 5px;
		padding: 65px 20px;
		margin: 0px;
		background-color: $clue-color;
		border: 5px solid $border-color;

		h1 {
			color: $font-color;
			text-align: center;
			vertical-align: middle;
			margin: 0px;
			user-select: none;

			font-size: calc(16px + 3vw);
			padding-bottom: 15px;
		}

		h2 {
			color: $font-color;
			text-align: center;
			vertical-align: middle;
			margin: 0px;
			user-select: none;

			font-size: calc(3vw);
			font-style: italic;
			padding-top: 15px;
		}

		.responseInput {
			padding: 15px;
			width: 100%;
		}

		.responseError {
			color: #ff0000;
		}
	}
}

// ------
// Player
// ------
.player {
	text-align: center;
	vertical-align: middle;
	user-select: none;

	&.active {
		font-weight: bold;
	}

	&.alreadyGuessed {
		font-style: italic;
	}
}
