$body-bg: #333f48;
$primary: #bf5700;
$secondary: #005f86;

@import "bootstrap";

.bodyContainer {
	background: #ffffff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 1rem;
	margin-bottom: 1rem;

	@include media-breakpoint-up(sm) {
		border-radius: 0.25rem;
	}
}

.dropdown-menu {
	z-index: 10000 !important;
}

.iconButton {
	svg {
		margin-bottom: 2px;
	}
}
