@import "../../../index.scss";

$clue-color: #0000ff;
$font-color: #ffffff;
$border-color: #111111;

$ratio: 16 / 9;
$cell-height: #{"min((100vh - 25rem) / 6, (100vw - 2rem) / 6 / #{$ratio})"};
$cell-width: calc(#{$cell-height} * #{$ratio});

// ----
// Game
// ----
.game {
	position: relative;
	background: #ffffff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	padding: 1rem;
	user-select: none;
}

// -----
// Board
// -----
.board {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;

	border-collapse: separate;
	border-spacing: 0.15rem;

	th,
	td {
		color: $font-color;
		background-color: $clue-color;
		border: 0.25rem solid rgba(0, 0, 0, 0.75);
		border-radius: 0.25rem;

		text-align: center;
		vertical-align: middle;

		height: $cell-height;
		width: $cell-width;
	}

	th > div {
		font-size: calc(#{$cell-height} * 0.2);
		font-weight: normal;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	td {
		font-size: calc(#{$cell-height} * 0.35);
	}
}

// --------
// Lightbox
// --------
.lightbox {
	position: absolute !important;

	h1 {
		text-align: center;
	}
}

// -----
// Timer
// -----
.timer {
	width: 100%;

	> div {
		margin: auto;
		text-align: center;
		vertical-align: middle;
		user-select: none;
	}
}

// ------
// Player
// ------
.player {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;

	text-align: center;
	user-select: none;

	padding: 10px;
	margin: 10px 1vw 0px 1vw;

	&.active {
		font-weight: bold;
	}

	&.alreadyActed {
		font-style: italic;
	}

	&.current {
		background-color: #dddddd !important;
	}

	div {
		&.name {
			font-size: calc(#{$cell-height} * 0.2);
		}

		&.score {
			font-size: calc(#{$cell-height} * 0.35);
		}
	}
}
